In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r'data/3_Countries_h.csv')
df.head()

,SlNo,Code,Country,2000,2005,2010,2014,2015,2016,2017,2019,2020
0,1,4,Afghanistan,0.0,1.2,4.0,7.0,8.3,10.6,11.4,NaN,18.8
1,2,8,Albania,0.1,6.0,45.0,60.1,63.3,66.4,71.8,73.5,NaN
2,3,12,Algeria,0.5,5.8,12.5,29.5,38.2,42.9,47.7,NaN,58.0
3,4,20,Andorra,10.5,37.6,81.0,95.9,96.9,97.9,98.9,98.9,NaN
4,5,24,Angola,0.1,1.1,2.8,10.2,12.4,13.0,14.3,NaN,21.5

In [3]:
years = ['2000', '2005', '2010', '2014', '2015', '2016', '2017', '2019', '2020']

start_year = 2021
length_years = 5
X_test = np.array(range(start_year, start_year + length_years)).reshape(length_years, 1)
df2 = pd.DataFrame(columns = range(start_year, start_year+length_years))

poly = PolynomialFeatures(degree = 2)
linear_p = LinearRegression()

In [4]:
for indexno, row in df.iterrows():
    penetration = []
    for y in years:
        penetration.append(df.loc[indexno][y])

    r = pd.DataFrame({'year': years, 'penetration': penetration})
    r = r[r['penetration'].notnull()]
    
    
    X = poly.fit_transform(r[['year']])
    linear_p.fit(X, r['penetration'])
    y = linear_p.predict(X)
    
    
    pred = linear_p.predict(poly.fit_transform(X_test))
    for i in range(pred.shape[0]):
        if(pred[i] >= 100):
            for j in range(i, pred.shape[0]):
                pred[j] = 100
            break
            
    
    
    df2.loc[indexno] = pred

In [5]:
df2.round(1).head(10)

    2021   2022   2023   2024   2025
0   19.9   22.2   24.5   27.0   29.6
1   86.7   90.8   94.9   98.9  100.0
2   67.3   73.6   80.1   86.9   94.0
3  100.0  100.0  100.0  100.0  100.0
4   24.1   26.7   29.4   32.3   35.3
5   85.4   87.8   90.1   92.2   94.2
6   90.6   93.3   95.8   98.1  100.0
7   86.7   90.0   93.2   96.4   99.6
8   87.8   87.7   87.4   86.9   86.3
9   87.6   87.3   86.7   85.8   84.6

In [6]:
outputdf = df.join(df2.round(1))
outputdf.to_csv('data/predicted.csv', index = False)